.content {
  position: relative;
  height: 30vw;
  margin-top: -15px;
  overflow: hidden;

  @include media('<=phone') {
    height: 40vh;
  }

  &__background,
  &__background__shadow,
  &__background__image,
  &__area {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__background {
    left: 0;
    right: 0;

    &__shadow {
      left: 0;
      background: #141414;
      width: 30%;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        background-image: linear-gradient(to right,#141414,transparent);
        top: 0;
        bottom: 0;
        left: 100%;
        width: 275px;
      }
    }

    &__image {
      right: 0;
      width: 70%;
      height: 100%;
      background-position: center 10%;
      background-size: cover;
      z-index: 1;
    }
  }

  &__area {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 3;

    &__container {
      padding: 90px 3.43rem;
      color: wheat;

      @include media('<=phone') {
        padding: 40px 1.5rem;
      }
    }
  }

  &__title {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;

    @include media('<=phone') {
      font-size: 2rem;
    }
    
  }

  &__description {
    font-size: 1.1rem;
    color: $color-white;
    margin-top: 20px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 123px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
   
    @include media('<=phone') {
      max-height: 40px;
      line-height: 20px;
    }
  }

  &__actions {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }

  &__close {
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;

     @include media('<=phone'){
       top: 20px;
       right: 20px;
     }

    svg {
      width: 40px;
      height: 40px;
      cursor: pointer;

      @include media('<=phone') {
        width: 30px;
        height: 30px;
      }
    }
  }
}