.list {
  background-color: #141414;
  width: 100%;
  position: relative;
  padding: 2rem 0 0 0 ;
  z-index: 1;
  overflow-y: visible;

  &__title {
    padding-left: 3.43rem;
    color: $color-white;
    font-size: 1.3rem;
    font-weight: 600;

     @include media('<=phone') {
        padding-left: 1.5rem;
      }
  }

  &__items {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 10;

    &--img {
      border-radius: 5px;
      object-fit: cover;
      z-index: 10;
    }

    &--backdrop {
      width: 250px;
      height: 130px;
    }

    &--poster {
      width: 200px;
      height: 300px;

      @include media('<=phone'){
        width: 105px;
        height: 150px;
      }
    }
  }

}
