.list {
  background-color: #141414;
  width: 100%;
  position: relative;
  padding: 2rem 0 0 0 ;
  z-index: 1;
  overflow-y: visible;

  &__title {
    padding-left: 3.43rem;
    color: $color-white;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
