.bg__container {
   height: 670px;
    border-bottom: 8px solid #222;
    background-image:linear-gradient(to top,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%),radial-gradient(50% 100%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%), url('../../assets/home-bg.jpg') ;
}