.mylist {
  max-width: 100vw;
  min-height: 40rem;
  background-color: #141414;
  position: relative;
  padding: 8rem 3rem;
  color: $color-white;

  @include media('<=phone'){
    padding: 11rem 1rem;
  }

  &__heading {
    border-left: 3px solid red;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}